*{
    padding: 0px;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    border-width: 1px;
    border-color: #004832;
    list-style-type: none;
    scroll-behavior: smooth;
}

li {
    padding: 15px 0px;
}

body {
    width: 100%;
    height: 4000px;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
    padding: 15px 0px;
}

header {
    position: fixed;
    width: 100%;
    height: 85px;
    display: block;
    z-index: 3;
    border-bottom-style: solid;
    background-color: #21357c;
    background-color: #AC0226;
    opacity: 0.8;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.section {
    min-height: 20%;
    position: relative;
    padding: 85px 0px 0px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.inner-header {
    width: 1300px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.name-container {
    height: 100%;
    display: table;
    float: left;
}

.name-container h2 {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.nav {
    float: right;
    height: 100%;
}

.nav li{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 15px;
    font-size: 90%;
    
}

.nav li a{
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 15px;
    transition-property: font-size;
    transition-duration: 0.5s;
}

.nav li a:hover {
    font-size: 17px;
    
}

.nav li:last-child{
    padding-right: 0;
}

.content {
    height: 100%;
    width: 100%;
}

figcaption{
    position: absolute;
    right: 420px;
    bottom: 150px;
    font-size: medium;
    font-weight: 400; 
    opacity: 0.8;  
}

.profile, .profile-aged {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-style:solid;
    border-width: 1px;
    border-radius: 50%;
}

.profile-aged {
    z-index: 2;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 4s;
    transition-timing-function: ease-out;
}

.profile-aged:hover {
    opacity: 100;
}

.grey-text {
    color: #565656;
}

#intro {
    width: 100%;
}

#home .container-1 {
    text-align: center;
    padding: 0 25%;
}

#home .container-1 span {
    font-size: xx-large;
}

#home .container-2 {
    text-align: center;
}

#home figure {
    display: inline-block;
    position: relative;
    max-width: 100%;
    width: 500px;
    height: 500px;
}

#home .container-3 {
   text-align: center;
   padding: 30px 0;
}

#about .flex {
    justify-content: space-around;
}

#about .container-1 {
    max-width: 600px;
    
}

#about .container-2 {
    min-width: 200px;
}

#about .container-1 p {
    padding-bottom: 30px;
}

#about .container-1 h2 {
    padding-bottom: 20px;
}

#about img {
    max-height: 450px;
}

#about .mission {
    text-align: center;
    padding: 100px 30% 0;
}

#projects .container-1 {
    text-align: center;
}

#projects .hammer-1 {
    position: absolute;
    height: 120px;
    top: 100px;
    right: 140px;
    rotate: 20deg;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#projects .hammer-2 {
    position: absolute;
    height: 120px;
    top: 100px;
    left: 140px;
    rotate: -20deg;
}

#projects .flex {
    padding-top: 75px;
    justify-content: space-around;
}

#projects .child {
    max-width: 350px;
}

@media screen and (max-width: 1000px) {
    #about .container-1 {
        text-align: center;
    }

    #projects .flex {
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    
    #projects .child {
        padding-bottom: 25px;
    }

    .hammer-1, .hammer-2 {
        opacity: 0;
    }

    #contact span {
        opacity: 0;
    }
}

#projects .icon {
    height: 30px;
}

#projects .container-2 {
    text-align: center;
    padding-top: 100px;
    
}

#silhouette {
    object-fit: cover;
    object-position: 50% 35%;
    width: 100%;
    height: 100%;
}

#contact .container-1 {
    text-align: center;
    padding: 0 25%;
}

#contact .flex {
    justify-content: space-evenly;
    padding: 50px
}

#contact .container-2 img {
    height: 350px;
}

#contact .container-3 {
    padding-left: 100px;
}

#contact .container-3 span {
    padding-left: 40px;
}


#contact .container-4 {
    font-size:x-large;
    text-align: center;
    font-weight: bold;
    padding: 0 15%;
}

#contact li {
     list-style: none;
     font-size: larger;
}

#contact a {
    color: #AC0226;
}

#contact .icon {
    height: 65px;
    width: 65px;
    transition-property: width;
    transition-duration: 1s;
}


.middle {
    position: fixed;
    height: 100%;
    width: 50%;
    border-right: black;
    border-style: dotted;
    z-index: 4;
    opacity: 0;
}

